# Dictionaries

## Empty dictionary

In [1]:
# Creating an empty dictionary

a_dict = {}

a_dict

{}

In [2]:
# Creating an empty dictionary

b_dict = dict()

b_dict

{}

In [4]:
print(type(a_dict))
print(type(b_dict))

<class 'dict'>
<class 'dict'>

## From a list of tuples

In [5]:
students = dict([
    ('Cartman',12),
    ('Stan',11),
    ('Kyle',9),
    ('Kenny',10)
])

students

{'Cartman': 12, 'Stan': 11, 'Kyle': 9, 'Kenny': 10}

In [6]:
students = dict([
    ['Cartman',12],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

{'Cartman': 12, 'Stan': 11, 'Kyle': 9, 'Kenny': 10}

In [9]:
students = dict(
    cartman = 12,
    stan = 11,
    kyle = 9,
    kenny = 10
)

students

{'cartman': 12, 'stan': 11, 'kyle': 9, 'kenny': 10}

#### Raise ValueError if length is not 2

In [7]:

students = dict([
    ['Cartman',12,'Eric'],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [8]:
students = dict([
    ['Cartman'],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

ValueError: dictionary update sequence element #0 has length 1; 2 is required

### Keys must be unique

In [1]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    'cartman':30 #new value replaces the old one
           
  }

students

{'cartman': 30, 'stan': 11, 'kyle': 9, 'kenny': 10}

### Immutable objects can be used as keys

In [13]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    ('clyde','tolkien','kregg'):12
           
  }

students

{'cartman': 12,
 'stan': 11,
 'kyle': 9,
 'kenny': 10,
 ('clyde', 'tolkien', 'kregg'): 12}

### Cant use lists as keys

In [15]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    ('clyde','tolkien','kregg'):12,
    ['chef','garrison']:40  # unhasble value list
           
  }

students

TypeError: unhashable type: 'list'

In [3]:
def add(a,b):
    return a + b

In [4]:
d = {add:3,'sum':4}

d

{<function __main__.add(a, b)>: 3, 'sum': 4}

## Operations and Builtin methods

### Add Items ( d[key] = value )

In [7]:
car = {}

car['model'] = '1998'
car['manufacturer'] = 'ford'
car['class'] = 'sedan'

car

{'model': '1998', 'manufacturer': 'ford', 'class': 'sedan'}

### Update items ( d[key] = value )

In [2]:
car = {'model': '1998', 'manufacturer': 'ford', 'class': 'sedan'}

car['model'] = 2022

car

{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan'}

In [9]:
car['engine'] = '5.4 L'
car

{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan', 'engine': '5.4 L'}

### Set default value to key (setdefault(key[,default]))

In [53]:
car = {'model': '1998', 'manufacturer': 'ford', 'class': 'sedan'}

car.setdefault('engine','4.2 L')

car

{'model': '1998', 'manufacturer': 'ford', 'class': 'sedan', 'engine': '4.2 L'}

In [54]:
car.setdefault('class','two-door')
car

{'model': '1998', 'manufacturer': 'ford', 'class': 'sedan', 'engine': '4.2 L'}

### Delete items ( del d[key] )

In [10]:
del car['class']
car

{'model': 2022, 'manufacturer': 'ford', 'engine': '5.4 L'}

In [11]:
del car['class']
car

KeyError: 'class'

### List keys ( list(d) )

In [12]:
list(car)

['model', 'manufacturer', 'engine']

In [13]:
sorted(car)

['engine', 'manufacturer', 'model']

In [23]:
print(type(car.keys()))

<class 'dict_keys'>

In [24]:
print(type(car.values()))

<class 'dict_values'>

### Number of items ( len(d) )

In [14]:
len(car)

3

### get() method

In [16]:
print(car.get('type'))

None

In [17]:
print(car.get('type','two-door'))

two-door

In [18]:
car  # type is not stored

{'model': 2022, 'manufacturer': 'ford', 'engine': '5.4 L'}

In [19]:
print(car.get('model','Tom'))

2022

### Check if key exists ( key in d, key not in d)

In [3]:
'model' in car

True

In [4]:
car

{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan'}

In [6]:
'type' in car

False

In [7]:
'type' not in car

True

In [8]:
not 'type' in car

True

### pop item ( pop() )

In [35]:
car = {
    'model': 2022, 
    'manufacturer': 'ford', 
    'class': 'sedan', 
    'engine': '4.0 L'
}

car.pop('class')

'sedan'

In [37]:
car

{'model': 2022, 'manufacturer': 'ford', 'engine': '4.0 L'}

In [39]:
car.pop('class','two-door')

'two-door'

### Remove and Return key:value ( popitem() )

In [41]:
car

{'model': 2022, 'manufacturer': 'ford', 'engine': '4.0 L'}

In [42]:
car.popitem()

('engine', '4.0 L')

In [43]:
car

{'model': 2022, 'manufacturer': 'ford'}

In [44]:
car.popitem()

('manufacturer', 'ford')

### Clear all items in dictionary ( d.clear() )

In [29]:
car = {
    'model': 2022, 
    'manufacturer': 'ford', 
    'class': 'sedan', 
    'engine': '4.0 L'
}

car

{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan', 'engine': '4.0 L'}

In [31]:
car.clear()

In [28]:
car

{}

### Copy items. ( copy() )

In [64]:
car = {
    'model': 2022, 
    'manufacturer': 'ford', 
    'class': 'sedan', 
    'engine': '4.0 L'
}

truck = car.copy()

truck

{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan', 'engine': '4.0 L'}

In [65]:
truck['class'] = 'pick-up'
truck['model'] = 2012

print(truck)
print(car)

{'model': 2012, 'manufacturer': 'ford', 'class': 'pick-up', 'engine': '4.0 L'}
{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan', 'engine': '4.0 L'}

In [45]:
car.items()

dict_items([('model', 2022)])

### Returning an Iterator ( iter(d) , iter(d.keys()) )

In [55]:
car = {
    'model': 2022, 
    'manufacturer': 'ford', 
    'class': 'sedan', 
    'engine': '4.0 L'
}

In [56]:
iter(car)

In [57]:
for i in iter(car):
    print(i)

model
manufacturer
class
engine

In [58]:
for i in iter(car):
       print(i, ':' , car[i])

model : 2022
manufacturer : ford
class : sedan
engine : 4.0 L

In [59]:
for i in car.keys():
    print(i)

model
manufacturer
class
engine

In [60]:
for i in car.values():
    print(i)

2022
ford
sedan
4.0 L

In [61]:
for i in reversed(car):
    print(i)

engine
class
manufacturer
model

In [63]:
car_loop = iter(car)

print(next(car_loop))
print(next(car_loop))
print(next(car_loop))
print(next(car_loop))
print(next(car_loop)) # stop iteration

model
manufacturer
class
engine

StopIteration:

### update dictionary ( update([other]) )

In [68]:
car = {
    'model': 2022, 
    'manufacturer': 'ford', 
    'class': 'sedan', 
    'engine': '4.0 L'
}

bmw = {
    'model':2023,
    'manufacturer':'bmw',
    'engine':'3.2 L',
}

car.update(bmw)
car

{'model': 2023, 'manufacturer': 'bmw', 'class': 'sedan', 'engine': '3.2 L'}

### d | other

In [75]:
dict_1 = {'a':1, 'b':2, 'c':3}
dict_2 = {'c':4, 'd':5, 'e':6}

dict_3 = dict_1 | dict_2

dict_3

{'a': 1, 'b': 2, 'c': 4, 'd': 5, 'e': 6}

In [82]:
dict_4 = {**dict_1 , **dict_2}
dict_4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### views

In [83]:
car

{'model': 2023, 'manufacturer': 'bmw', 'class': 'sedan', 'engine': '3.2 L'}

In [85]:
car.keys()

dict_keys(['model', 'manufacturer', 'class', 'engine'])

In [86]:
car.values()

dict_values([2023, 'bmw', 'sedan', '3.2 L'])

In [87]:
car.items()

dict_items([('model', 2023), ('manufacturer', 'bmw'), ('class', 'sedan'), ('engine', '3.2 L')])