# Dictionaries

## Empty dictionary

In [1]:
# Creating an empty dictionary

a_dict = {}

a_dict

{}

In [2]:
# Creating an empty dictionary

b_dict = dict()

b_dict

{}

In [4]:
print(type(a_dict))
print(type(b_dict))

<class 'dict'>
<class 'dict'>

## From a list of tuples

In [5]:
students = dict([
    ('Cartman',12),
    ('Stan',11),
    ('Kyle',9),
    ('Kenny',10)
])

students

{'Cartman': 12, 'Stan': 11, 'Kyle': 9, 'Kenny': 10}

In [6]:
students = dict([
    ['Cartman',12],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

{'Cartman': 12, 'Stan': 11, 'Kyle': 9, 'Kenny': 10}

In [9]:
students = dict(
    cartman = 12,
    stan = 11,
    kyle = 9,
    kenny = 10
)

students

{'cartman': 12, 'stan': 11, 'kyle': 9, 'kenny': 10}

#### Raise ValueError if length is not 2

In [7]:

students = dict([
    ['Cartman',12,'Eric'],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [8]:
students = dict([
    ['Cartman'],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

ValueError: dictionary update sequence element #0 has length 1; 2 is required

### Keys must be unique

In [11]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    'cartman':30
           
  }

students

{'cartman': 30, 'stan': 11, 'kyle': 9, 'kenny': 10}

### Immutable objects ca be used as keys

In [13]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    ('clyde','tolkien','kregg'):12
           
  }

students

{'cartman': 12,
 'stan': 11,
 'kyle': 9,
 'kenny': 10,
 ('clyde', 'tolkien', 'kregg'): 12}

### Cant use lists as keys

In [15]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    ('clyde','tolkien','kregg'):12,
    ['chef','garrison']:40  # unhasble value list
           
  }

students

TypeError: unhashable type: 'list'