# Dictionaries

## Empty dictionary

In [1]:
# Creating an empty dictionary

a_dict = {}

a_dict

{}

In [2]:
# Creating an empty dictionary

b_dict = dict()

b_dict

{}

In [4]:
print(type(a_dict))
print(type(b_dict))

<class 'dict'>
<class 'dict'>

## From a list of tuples

In [5]:
students = dict([
    ('Cartman',12),
    ('Stan',11),
    ('Kyle',9),
    ('Kenny',10)
])

students

{'Cartman': 12, 'Stan': 11, 'Kyle': 9, 'Kenny': 10}

In [6]:
students = dict([
    ['Cartman',12],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

{'Cartman': 12, 'Stan': 11, 'Kyle': 9, 'Kenny': 10}

In [9]:
students = dict(
    cartman = 12,
    stan = 11,
    kyle = 9,
    kenny = 10
)

students

{'cartman': 12, 'stan': 11, 'kyle': 9, 'kenny': 10}

#### Raise ValueError if length is not 2

In [7]:

students = dict([
    ['Cartman',12,'Eric'],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [8]:
students = dict([
    ['Cartman'],
    ['Stan',11],
    ['Kyle',9],
    ['Kenny',10]
])

students

ValueError: dictionary update sequence element #0 has length 1; 2 is required

### Keys must be unique

In [1]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    'cartman':30 #new value replaces the old one
           
  }

students

{'cartman': 30, 'stan': 11, 'kyle': 9, 'kenny': 10}

### Immutable objects can be used as keys

In [13]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    ('clyde','tolkien','kregg'):12
           
  }

students

{'cartman': 12,
 'stan': 11,
 'kyle': 9,
 'kenny': 10,
 ('clyde', 'tolkien', 'kregg'): 12}

### Cant use lists as keys

In [15]:
students = {
    'cartman': 12, 
    'stan': 11, 
    'kyle': 9, 
    'kenny': 10,
    ('clyde','tolkien','kregg'):12,
    ['chef','garrison']:40  # unhasble value list
           
  }

students

TypeError: unhashable type: 'list'

In [3]:
def add(a,b):
    return a + b

In [4]:
d = {add:3,'sum':4}

d

{<function __main__.add(a, b)>: 3, 'sum': 4}

## Operations and Builtin methods

### Add Items ( d[key] = value )

In [7]:
car = {}

car['model'] = '1998'
car['manufacturer'] = 'ford'
car['class'] = 'sedan'

car

{'model': '1998', 'manufacturer': 'ford', 'class': 'sedan'}

### Update items ( d[key] = value )

In [2]:
car = {'model': '1998', 'manufacturer': 'ford', 'class': 'sedan'}

car['model'] = 2022

car

{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan'}

In [9]:
car['engine'] = '5.4 L'
car

{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan', 'engine': '5.4 L'}

### Delete items ( del d[key] )

In [10]:
del car['class']
car

{'model': 2022, 'manufacturer': 'ford', 'engine': '5.4 L'}

In [11]:
del car['class']
car

KeyError: 'class'

### List keys ( list(d) )

In [12]:
list(car)

['model', 'manufacturer', 'engine']

In [13]:
sorted(car)

['engine', 'manufacturer', 'model']

In [23]:
print(type(car.keys()))

<class 'dict_keys'>

In [24]:
print(type(car.values()))

<class 'dict_values'>

### Number of items ( len(d) )

In [14]:
len(car)

3

### get() method

In [16]:
print(car.get('type'))

None

In [17]:
print(car.get('type','two-door'))

two-door

In [18]:
car  # type is not stored

{'model': 2022, 'manufacturer': 'ford', 'engine': '5.4 L'}

In [19]:
print(car.get('model','Tom'))

2022

### Check if key exists ( key in d, key not in d)

In [3]:
'model' in car

True

In [4]:
car

{'model': 2022, 'manufacturer': 'ford', 'class': 'sedan'}

In [6]:
'type' in car

False

In [7]:
'type' not in car

True

In [8]:
not 'type' in car

True

### Returning an Iterator ( iter(d) , iter(d.keys()) )

In [9]:
iter(car)

In [10]:
for i in iter(car):
    print(i)

model
manufacturer
class

In [17]:
for i in iter(car):
       print(i, ':' , car[i])

model : 2022
manufacturer : ford
class : sedan

In [14]:
for i in car.keys():
    print(i)

model
manufacturer
class

In [16]:
for i in car.values():
    print(i)

2022
ford
sedan