# Lambda functions tutorial

Here we learn about anonymous functions in python commonly known as lambda functions

**Syntax**
```
    lambda arguments : expression
```

```
```

### Lambda syntax eith example

In [73]:
#Example 1: return 5

#before
def five():
    return 5

#after
a = lambda:5

print(five())
print(a())

5
5

In [74]:
#Example 2:

#before
def add(x,y):
    return x + y

#after
added = lambda x, y : x + y

print(add(3,2))
print(added(3,2))

5
5

In [75]:
#Example 3:

#before
def double(x):
    return x*2

double(2)

#after
doubler=lambda x : x*2
doubler(2)

4

In [76]:
#Example 4:

#before
def is_even(num):
    if num % 2 == 0:
        return True
    return False

#after
even = lambda num: num % 2 == 0

print(is_even(8))
print(even(8))

True
True

## Use Cases

### Sorting

In [77]:
x = ['cup', 'bag', 'car', 'deck', 'bike', 'laptop', 'Desk']
x.sort()
x

['Desk', 'bag', 'bike', 'car', 'cup', 'deck', 'laptop']

In [78]:
a = ['cup', 'bag', 'car', 'deck', 'bike', 'laptop', 'Desk']
a.sort(key=lambda x:x.lower())
a

['bag', 'bike', 'car', 'cup', 'deck', 'Desk', 'laptop']

In [79]:
b = ['cup', 'bag', 'car', 'deck', 'bike', 'laptop', 'Desk']
b.sort(key=str.lower)
b.sort(key=lambda x : len(x))
b

['bag', 'car', 'cup', 'bike', 'deck', 'Desk', 'laptop']

In [80]:
items = ['cup', 'bag', 'car', 'deck', 'bike', 'laptop', 'Desk']
items.sort(key=lambda x: (len(x), x.lower()))
items

['bag', 'car', 'cup', 'bike', 'deck', 'Desk', 'laptop']

In [81]:
a_list = [11, 'number', 5.09]
a_list.sort(key=lambda x: x.__class__.__name__)

a_list

[5.09, 11, 'number']

### Closure

In [82]:
#example

def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

closure = outer_function(10)
closure(5)

15

In [83]:
def closure(x):
    return lambda y : y + x

add = closure(10)
add(5)

15

In [84]:
def sort_words(words):
    return sorted(words, key=lambda word: (len(word),word.lower()))

words = ['cup', 'bag', 'car', 'deck', 'bike', 'laptop', 'Desk']

sort_words(words)

['bag', 'car', 'cup', 'bike', 'deck', 'Desk', 'laptop']

In [85]:
def process_numbers(numbers, callback):
    res = []
    for num in numbers:
        result = callback(num)
        res.append(result)
    return res
numbers_list = [1, 2, 3, 4, 5]

process_numbers(numbers_list, lambda x: x * 2)
process_numbers(numbers_list, lambda x: x ** 2)

[1, 4, 9, 16, 25]

In [86]:
def process_numbers(numbers, callback):
    res = [callback(num) for num in numbers]
    return res

numbers_list = [1, 2, 3, 4, 5]

print(process_numbers(numbers_list, lambda x: x * 2))
print(process_numbers(numbers_list, lambda x: x ** 2))

[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25]

### Closures

In [87]:
def exponatiate(x, y):
    return x ** y

def exponatiate_power(m):
    return lambda x: exponatiate(x, m)

square = exponatiate_power(2)
print(square(10))

cube = exponatiate_power(3)
print(cube(10))

100
1000

### Higher-order functions

#### map

In [88]:
'''
Given a list of numbers, return thier squares
'''

# before
def square(x):
    return x**2

numbers = [1,2,3,4,5]
result = map(square, numbers)

print(list(result))

[1, 4, 9, 16, 25]

In [89]:
# after
nums = [1,2,3,4,5]
res = list(map(lambda x:x**2, nums))
res

[1, 4, 9, 16, 25]

#### filter

In [90]:
'''Return even numbers from a list of numbers'''

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = list(filter(lambda x: x % 2 == 0 , numbers))
result

[2, 4, 6, 8, 10]

#### reduce

In [91]:
from functools import reduce

'''Given a list of numbers,return the sum of the squares '''

def add(x,y):
    return x + y

numbers = [1, 2, 3, 4, 5] 
result = reduce(add, map(lambda x: x**2, numbers))
result

55

### Advanced techniques

In [92]:
import itertools

# Example data
data = ["apple", "avoc", "banana", "cherry", "date", "elderberry", "berry"]
data.sort()

# Grouping by the first letter
groups = itertools.groupby(data, key=lambda x: x[0])

for key, group in groups:
    print(key, list(group))

a ['apple', 'avoc']
b ['banana', 'berry']
c ['cherry']
d ['date']
e ['elderberry']

In [93]:
type(groups)

itertools.groupby

In [94]:
for i, group in groups:
    print(i, group)